.Calendar__c-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  padding: 0 8px;
  color: #3f51b5;
  position: relative;
  font-size: 32px;
}

.Calendar__c-month:before {
  content: '[';
  position: absolute;
  left: 8px;
  top: 0;
}

.Calendar__c-month:after {
  content: ']';
  position: absolute;
  right: 8px;
  top: 0;
}
